junit-results.xml
*.pyc
*.pyo
*.so
*.tar.gz
*.log
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.tar.*
*.egg*
*.tmproj
*.dat
.DS_Store
auto_examples
build
coverage
.cache/
.pytest_cache/
__pycache__/
prof/
article/
docs/screenshot*
.ipynb_checkpoints
.hypothesis/

dist/
docs/build/
docs/source/sg_execution_times.rst
docs/source/gen_modules/
docs/source/generated/
docs/auto_examples/
docs/auto_tutorials/
docs/modules/generated/
docs/sphinxext/cachedir
pip-log.txt
.coverage*
coverage.xml
tags
doc/coverages
doc/samples
cover
*.html

*.orig

# PyCharm
.idea/**

.ruff_cache/
.mypy_cache/
.claude/
# sublime
*-e

# Visual Studio Code
.vscode
*.code-workspace

# Emacs
*.py#

.venv/
venv/
*.json
.dev/
examples/autoencoder/*
doc_example/
